/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
    width: 100%;
}

/* ************************************************************************* */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("https://wallpapercave.com/wp/fesLEsF.jpg");
    background-position-y: -70px;
}

.input {
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
    background-color: yellow;
    border: 1px solid cyan;
    color: darkorchid;
}

.output {
    color: pink;
    text-shadow: 2px 2px black;
    font-family: 'Arvo', serif;
    font-size: 30px;
    text-align: center;
    width: 500px;
    height: 215px;
}

.hidden {
    display: none;
}